.UserOutput {
  width: 60%; 
  padding: 16px;
  margin: 16px;
  border: 2px solid black;
  background-color: gainsboro;
  text-align: center;
}

.person{
  width: 60%;
  padding: 16px;
  margin: 16px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}